.button-secondary {
    background-color: #f3f2f1;
    box-shadow: #0b0c0c;
    color: #0b0c0c !important;
}

.button-secondary:visited {
    background-color: #f3f2f1;
    color: #0b0c0c;
}

.button-secondary:hover {
    background-color: #6f777b;
    color: #fff !important;
}

.black-border {
    border: 2px solid #0b0c0c;
}

.check-your-answers .change-answer {
    text-align: right;
    padding-right: 0;
}

.change-link-title {
    font-weight: 100;
}

.edit-change-link, .edit-change-link:hover {
    display: inline;
    background: none;
    border: none;
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
    -webkit-box-shadow: none;
    outline: 0;
    position: relative;
    padding:0;
    margin-right: 0;
    font-size: 19px;
}

.edit-change-link:hover {
    color: #4c2c92;
}


.no-shadow {
    box-shadow: none;
}

.less-padding{
  padding-top: 2px !important;
  padding-bottom: 3px !important;
}

.margin-bottom-1{
    margin-bottom: 1% !important;
}

@media (min-width: 641px) {
    body {
        overflow-x: hidden;
    }

    .table-row-answer.word-break {
        word-break: break-word;
    }

    .table-row-question {
        width: 62%;
    }

    .form-postcode .form-control {
        width: 110px;
    }

    .check-your-answers td {
        font-size: 19px;
        line-height: 1.31579;
    }

    .content__body {
        float: left;
        width: 66.666667%;
    }

    .form-litres {
        width: 50%;
    }

    .form-litres-3-4 {
        width: 75%;
    }

    .form-control-1-4 {
        width: 25%;
    }

    .form-control-35 {
        width: 35%;
    }

    table th, table td {
        font-size: 19px;
        font-weight: 400;
        vertical-align: text-top;
    }

    table th .bold {
        font-weight: bold;
    }
}

@media (max-width: 640px) {

    .table-row-answer.word-break {
        word-break: break-all;
    }

    .button {
        width: 100%;
    }

    .form-postcode .form-control {
        width: 100%;
    }

    table th, table td {
        font-size: 16px;
        font-weight: 400;
        vertical-align: text-top;
    }

    th h2 {
        width: 200% !important;
    }
}

@media (max-width: 320px) {

    table th, table td {
        padding-right: 1%;
        padding-left: 1%;
    }
}


details summary:not([tabindex]) {
    display: list-item;
}



html .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
}

/*override the assets-frontend .form-block*/
.form-block {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.check-your-answers td {
    vertical-align: top;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.link-button, .link-button:hover, .link-button:focus, .link-button:active {
    display: inline;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #1d70b8;
    text-decoration: underline;
    cursor: pointer;
    outline: 0;
    position: relative;
    padding:0;
    margin-right: 0;
}

.link-button:hover {
    color: #4c2c92;
}

.link-button:focus {
    outline: 3px solid #ffdd00;
    background-color: #ffdd00;
    outline-offset: 0;
}

.cya-change {
    text-align: right;
}

button[name="checkyouranswers"] {
    margin-top: 30px;
}

.form-field--error .error-notification {
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-centre {
    text-align: center;
}

.no-minus-wrapping {
    white-space: nowrap;
}

details .address.progressive-reveal {
    padding-left: 25px;
}

.cya-width {
    width: 60%;
}

@media print {
    .print-link {
        display: none;
    }
}

.govuk-caption-xl {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: block;
    margin-bottom: 5px;
    color: #6f777b;
}

.no-margin {
    margin-top: 0.3125em;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.add-to-list {
    margin-bottom: 0.4em
}

.return-button-padding {
    padding-top: 4%
}

.print-link-padding {
    padding-top: 3%
}

.option-box-padding {
    padding-top: 5%
}

.change-address-button {
    margin-top: 4%;
}

.service-comp-name {
    margin-top: 6%;
}

.service-header {
    margin-top: 0%;
}

.no-padding-right {
    padding-right: 0;
}

.table-header-bold {
    font-weight: 700;
}

.business-details-help {
    font-size: 19px;
    margin-bottom: 3%;
    margin-top: 1.9em;
}

.business-details-heading-help {
    margin-bottom: 0.35em;;
}

.no-break-margin {
    margin-bottom: 5%;
}

.small-prod-litres {
    margin-bottom: 1%;
    font-size: 18px;
}

.error-button {
    display: none;
}

.govuk-fieldset__legend--xl {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.09375;
}

.govuk-fieldset__legend {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.25;
    color: #0b0c0c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    white-space: normal;
}

.govuk-radios__item {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 40px;
    clear: left;
}

.govuk-radios__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
}

.govuk-radios__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.govuk-details {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
}

.govuk-details__summary {
    display: inline-block;
    position: relative;
    color: #1d70b8;
    cursor: pointer;
}

.govuk-details__summary-text {
    text-decoration: underline;
}

.govuk-summary-list {
    display: table;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0b0c0c;
    margin: 0;
    line-height: 1.31579;
}

.govuk-summary-list__row {
    display: table-row;
}

.govuk-summary-list__key {
    width: 62%;
    word-break: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfc1c3;
    display: table-cell;
    padding-right: 20px;
    margin: 0;
}

.govuk-summary-list__value {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfc1c3;
    display: table-cell;
    padding-right: 20px;
    margin: 0;
    word-break: normal;
}

.cya-change-no-word-break {
    word-break: keep-all;
    padding-right: 0;
    text-align: right;
}

.icon-image {
    top: 43%
}

.outline {
    outline-offset: 0
}


.govuk-tabs {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 5px;
    margin-bottom: 20px;
}

@media print {
    .govuk-tabs {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-tabs {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .govuk-tabs {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media print {
    .govuk-tabs {
        color: #000000;
    }
}

@media (min-width: 40.0625em) {
    .govuk-tabs {
        margin-top: 5px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-tabs {
        margin-bottom: 30px;
    }
}

.govuk-tabs__title {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    margin-bottom: 5px;
}

@media print {
    .govuk-tabs__title {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-tabs__title {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .govuk-tabs__title {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.govuk-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 40.0525em) {
    .govuk-tabs__list {
        margin-bottom: 20px;
    }
}

@media (max-width: 40.0525em) and (min-width: 40.0625em) {
    .govuk-tabs__list {
        margin-bottom: 30px;
    }
}

.govuk-tabs__list-item {
    margin-left: 25px;
}

.govuk-tabs__list-item::before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
}

.govuk-tabs__tab {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px !important;
}

@media print {
    .govuk-tabs__tab {
        font-family: sans-serif;
    }
}

.govuk-tabs__tab:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    background-color: #ffdd00;
}

.govuk-tabs__tab:link {
    color: #1d70b8;
}

.govuk-tabs__tab:visited {
    color: #4c2c92;
}

.govuk-tabs__tab:hover {
    color: #2b8cc4;
}

.govuk-tabs__tab:active {
    color: #2b8cc4;
}

.govuk-tabs__tab:focus {
    color: #0b0c0c;
}

@media print {
    .govuk-tabs__tab {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-tabs__tab {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .govuk-tabs__tab {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.govuk-tabs__tab[aria-current="true"] {
    color: #0b0c0c;
    text-decoration: none;
}

.govuk-tabs__panel {
    margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
    .govuk-tabs__panel {
        margin-bottom: 50px;
    }
}

@media (min-width: 40.0625em) {
    .js-enabled .govuk-tabs__list {
        border-bottom: 1px solid #bfc1c3;
    }
    .js-enabled .govuk-tabs__list:after {
        content: "";
        display: block;
        clear: both;
    }
    .js-enabled .govuk-tabs__list-item {
        margin-left: 0;
    }
    .js-enabled .govuk-tabs__list-item::before {
        content: none;
    }
    .js-enabled .govuk-tabs__title {
        display: none;
    }
    .js-enabled .govuk-tabs__tab {
        margin-right: 5px;
        padding-right: 20px;
        padding-left: 20px;
        float: left;
        color: #0b0c0c;
        background-color: #f8f8f8;
        text-align: center;
        text-decoration: none;
    }
    .js-enabled .govuk-tabs__tab--selected {
        margin-top: -5px;
        margin-bottom: -1px;
        padding-top: 14px;
        padding-right: 19px;
        padding-bottom: 16px;
        padding-left: 19px;
        border: 1px solid #bfc1c3;
        border-bottom: 0;
        color: #0b0c0c;
        background-color: #ffffff;
    }
    .js-enabled .govuk-tabs__tab--selected:focus {
        background-color: transparent;
    }
    .js-enabled .govuk-tabs__panel {
        margin-bottom: 0;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        border: 1px solid #bfc1c3;
        border-top: 0;
    }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
    .js-enabled .govuk-tabs__panel {
        margin-bottom: 0;
    }
}

@media (min-width: 40.0625em) {
    .js-enabled .govuk-tabs__panel--hidden {
        display: none;
    }
    .js-enabled .govuk-tabs__panel > :last-child {
        margin-bottom: 0;
    }
}