@import sdil.models.Address
@(key: String, rows: List[Address], messages: UniformMessages[Html])

<table class="margin-bottom-30">
    <tbody>
        @for((row, index) <- rows.zipWithIndex) {



            <tr>
                <td>
                    <details role="group">
                        <summary aria-controls="details-content-1" aria-expanded="false">
                            <span class="summary">@row.line1, @row.postcode</span>
                        </summary>
                        <div class="address progressive-reveal" id="details-content-1">
                            @row.line1
                        </div>

                        @row.nonEmptyLines.tail.map { line =>
                            <div class="address progressive-reveal">@line</div>
                        }

                    </details>
                </td>

                @if(rows.length > 1) {
                    <td class="align-centre">
                        <button name="production-site-details" value="Delete.0" class="link-button no-shadow">
                            <span aria-hidden="true">@messages("common.remove")</span>
                            <span class="visually-hidden">@messages("common.remove")
                                @for((line, index) <- row.nonEmptyLines.zipWithIndex) {
                                    @line@if(index + 1 != row.nonEmptyLines.length) {,}
                                }
                            </span>
                        </button>
                    </td>
                }

                <td class="align-right">
                    <button name="production-site-details" value="Edit.0" class="link-button no-shadow">
                        <span aria-hidden="true">
                        @messages("common.edit")
                        </span>
                        <span class="visually-hidden">
                            @messages("common.edit")
                            @for((line, index) <- row.nonEmptyLines.zipWithIndex) {
                                @line@if(index + 1 != row.nonEmptyLines.length) {,}
                            }
                        </span>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>