@import sdil.models.Address
@(key: String, rows: List[Address], messages: UniformMessages[Html])

<table class="margin-bottom-30">
    <tbody>
        @for((row, index) <- rows.zipWithIndex) {
            <tr>
                <td>
                    <details role="group">
                        <summary aria-controls="details-content-1" aria-expanded="false">
                            <span class="summary">@row</span>
                        </summary>
                        <div class="address progressive-reveal" id="details-content-1">
                    The Street
                        </div>
                        <div class="address progressive-reveal">
                    mssreofqsyvctjptpa
                        </div>
                        <div class="address postal-code progressive-reveal">
                    DD61 1XX
                        </div>
                    </details>
                </td>


                <td class="align-right">
                    <button name="production-site-details" value="Edit.0" class="link-button no-shadow">
                        <span aria-hidden="true">
                    Edit
                        </span>
                        <span class="visually-hidden">
                    Edit 50, The Street, mssreofqsyvctjptpa, DD61 1XX.
                        </span>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>